/* Please use this file for all CSS. */

@media only screen and (max-width: 960px) {
	.product-description h1 {
		font-size: 24px;
	}
}

@media only screen and (max-width: 600px) {
  /* .product-description {
    display: none;
  } */
  .flex-container-row {
    flex-flow: column wrap;
  }
  
  iframe,
  .product-media,
  .product-media a {
    display: block;
    max-width: 99vw;
  }

  .product-media img {
    max-width: 80vw;
    width: 100%;
    height: auto !important;
  }
}
